<!doctype html>
<html lang="en">
    <head>
        <link
            rel="icon"
            href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🧡</text></svg>"
        />
        <meta charset="utf-8" />
        <title class="title">Jacky</title>
        <script
            src="https://unpkg.com/htmx.org@1.9.12"
            integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
            crossorigin="anonymous"
        ></script>
        <link rel="stylesheet" href="style.css" />
    </head>

    <body>
        <div class="header">
            <a
                hx-get="/index"
                hx-trigger="click"
                hx-target="#content-body"
                hx-swap="outerHTML"
                >Jacky</a
            >
        </div>
        <br />
        <div class="linksection">
            <span class="links"
                ><a
                    hx-get="/index"
                    hx-trigger="click"
                    hx-target="#content-body"
                    hx-swap="outerHTML"
                    >Home</a
                ></span
            >
            <span class="links"
                ><a
                    hx-get="/work"
                    hx-trigger="click"
                    hx-target="#content-body"
                    hx-swap="outerHTML"
                    >Work</a
                ></span
            >
            <span class="links"
                ><a
                    hx-get="/readinglist"
                    hx-trigger="click"
                    hx-target="#content-body"
                    hx-swap="outerHTML"
                    >My reading list</a
                ></span
            >
        </div>
        <div class="content" id="content-body">
            <p>
                Developer at
                <a href="https://www.renewable-fs.com/"
                    >Renewable Fields Services</a
                >
                building a full-stack solution for drone diagnostics of wind
                turbines.
            </p>
            <p>
                Developer to-be at the BBC from September, so I'm no longer
                really looking for jobs like that. Either way, I'm still looking
                for ways to be a better developer so this will hopefully go less
                abandoned in the near future.
            </p>
            <p>
                Also a bad climber with aspirations of climbing more and less
                badly, a competitive melee player, and a very unaccompilished
                runner and swimmer, though one of those is definitely for fun
                and the other out of a sense of obligation to myself and my
                body.
            </p>
            <p>
                Any developing I do in my own time is generally with the goal of
                understanding the builing blocks of more complicated tools that
                I use at work. You won't see flashy portfolios from me, just use
                of boring tools that do things well and the occasional attempt
                at doing advent of code in a silly language that I don't know
                (often functional).
            </p>
            <p>shameless tmux enjoyer and terminal inhabitant :)</p>
        </div>
    </body>
</html>
